spring:
  application:
    name: gateway
  threads:
    virtual:
      enabled: true

  cloud:
    gateway:
      routes:
        - id: scanner-management-service
          uri: lb://scanner-management-service
          predicates:
            - Path=/api/escaner/**
          filters:
            - AddRequestHeader=X-Gateway-Passed,true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

  profiles:
    active: prod

server:
  port: 8080
